@use "./variables" as v;
@use "./breakpoint" as b;

.footer {
    margin-block-start: 6.25rem;
    background: linear-gradient(to bottom, v.$greenGradient1, v.$greenGradient2);
    padding-block: 5.25rem;
    color: v.$White;

    &_wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 40px;
        
        li {
            margin-block-end: .625rem;
        }

        h5 {
            font-size: 1.25rem;
            font-weight: v.$fw2;
            margin-block-end: 1.25rem;
        }

        .col1 {
            p {
                margin-block-start: .5rem;
            }
        }

        .col2 {

            .contact {
                display: flex;
                gap: .625rem;
            }
        }

        .col4 {

            .newsletter {
                margin-block-end: 2.5rem;

                .mail, button {
                padding: 1rem;
                border-radius: .5rem;
                }

                .mail {
                    border: none;
                    outline: none;
                }

                button {
                    background-color: v.$green;
                    color: v.$White;

                    &:hover {
                        background-color: v.$greenGradient1;
                    }
                }
            }

            .socials {
                display: flex;
                gap: 1.25rem;
            }

        }
    }

    .line {
        display: block;
        margin-block: 5.25rem 2.5rem;
    }

    .copyright {
        text-align: center;
    }

    p, a {
        font-size: .9375rem;
    }

    a {
        color: v.$White;
    }
}