@use "./variables" as v;
@use './breakpoint' as b;

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include b.breakpoint-sm{
    .logo {
      inline-size: 80px;
   }
  }
  

  .menuToggle {
    background-color: v.$green;
    padding: .5rem;
    transition: all 1s ease;
    position: relative;
    z-index: 5;

    span.one {
      transform: rotate(0deg);
      transition: all 1s ease;
    }

    span.three {
      transform: rotate(0deg);
      transition: all 1s ease;
    }

    &.active {
      background-color: v.$greenGradient1;
      transition: all 1s ease;
      position: fixed;
      right: 20px;

      span.one {
        transform: rotate(218deg); 
        transition: all 1s ease;
        transform-origin: 55% 150%;
      }
  
      span.three {
        transform: rotate(132deg);
        transform-origin: 60% -70%;
        transition: all 1s ease;
      }

      span.two {
        visibility: hidden;
        // display: none;
      }
    }

    @include b.breakpoint-md {
      display: none;
    }

    span {
      inline-size: 2.1875rem;
      block-size: 3px;
      background-color: v.$White;
      display: block;
      margin-block: 5px;
    }

    span.two {
      inline-size: 27px;
    }

    
  }

  &_links {

    @include b.breakpoint-sm {
      background-color: v.$White;
      box-shadow: -15px -2px 20px 0px #0000002e;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px;
      gap: 1.25rem;
      text-align: center;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 1000px;
      left: -1000px;
      transition: all 0.5s ease;

      &.active {
        right: 0;
        left: 0;
      }
    }


    

    li {
        a{
        color: v.$neutral;
        font-weight: v.$fw3;

        &:hover {
          color: v.$Black;
        }
      }

      .active {
        color: v.$greenGradient1;
    
        &:hover {
          color: v.$green;
        }
      }
      
      .cta {
        color: v.$White;

        &:hover {
          color: v.$White;
        }

        @include b.breakpoint-lg {
          margin-inline-start: 30px;
        }
        
      }
    }

    

    

    @include b.breakpoint-md {
      display: flex;
      gap: 1.25rem;
      align-items: center;
      
    }

    @include b.breakpoint-lg {
      gap: 2.5rem;      
    }
  }

  
}
