@use './variables' as v;
@use './breakpoint' as b;

.partners {
    padding-block: 4rem;
    text-align: center;
    

    .companyLogo {

        h2 {
            color: v.$textHeadingGreen;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(calc(-250px * 5));
            }
        }

        &_slider {
            margin-block-start: 2.5rem;
            display: flex;
            align-items: center;
            width: calc(250px * 10);
            margin-inline: auto;
            animation: scroll 40s linear infinite;
            height: 100px;
        
            &:hover {
                animation-play-state: paused;
            }

            .slide {
                height: 100px;
                width: 250px;
                perspective: 60px;

                img{
                    transition: transform 1s;
                }

                img:hover {
                    transform: translateZ(10px);
                }
            }
        }
    }
}

