@use './variables' as v;
@use './breakpoint' as b;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$ff;
}

html, body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    display: inline-block;
}

h2 {
    font-size: 1.5625rem;
    font-weight: v.$fw3;

    @include b.breakpoint-md {
        font-size: 2.1875rem;
    }
}

h3 {
    font-weight: v.$fw3;
    font-size: 1.25rem;

    @include b.breakpoint-md {
        font-size: 1.5625rem;
    }
}

p {
    font-size: 1rem;
    line-height: 1.5;

    @include b.breakpoint-md {
        font-size: 1.125rem;
    }
}

li {
    list-style: none;
}

.container {
    max-inline-size: 90rem;
    padding-inline: 1.25rem;
    margin-inline: auto;
}

img {
    display: block;
}

button {
    cursor: pointer;
    border-radius: 8px;
    border: none;
}