// Color

$Black: #000000;
$White: #FFFFFF;
$green: #06C612;
$greenGradient1: #013C04;
$greenGradient2: #036209 ;
$textHeadingGreen: #006406;
$neutral: #A3A3A3;

//Font
$ff: 'Inter', sans-serif;
$fw1: 400;
$fw2: 500;
$fw3: 600;
$fw4: 700;
